<h1>皮肤列表</h1>

<%= paginate @loyal_core_skin_recipes %>

<table>
  <tr>
    <th>ID</th>
    <th>文章标题</th>
    <th>作者</th>
    <th>操作</th>
  </tr>
  <% if @loyal_core_skin_recipes.to_a.any? %>
    <% @loyal_core_skin_recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.id %></td>
        <td><%= link_to "#{recipe.name}", loyal_core_app.admin_skin_recipe_url(:id => recipe.id) %></td>
        <td>
          <% if recipe.creator %>
            <%= link_to "#{recipe.creator.nick_name}", loyal_passport_app.admin_user_url(:id => recipe.creator.id) %>
          <% else %>
              未知
          <% end %>
        </td>
        <td>
          <%= link_to "编辑", loyal_core_app.edit_admin_skin_recipe_url(:id => recipe.id) %>
          <%= link_to "删除", loyal_core_app.admin_skin_recipe_url(:id => recipe.id), :method => :delete, :confirm => '确定要删除吗？' %>
        </td>
      </tr>
    <% end %>
  <% else %>
    列表为空
  <% end %>
</table>

<%= paginate @loyal_core_skin_recipes %>

<%= link_to "new", loyal_core_app.new_admin_skin_recipe_url %>
