<h1>【皮肤】 <%= @loyal_core_skin_recipe.name %></h1>

<div>
  <b>短标题</b><%= @loyal_core_skin_recipe.short_name %><br/>
  <b>路径</b><%= @loyal_core_skin_recipe.assets_path %><br/>
  <b>样式表</b><%= @loyal_core_skin_recipe.stylesheet_text %><br/>
  <b>简介</b><%= @loyal_core_skin_recipe.instroduction %><br/>
  <b>描述</b><%= @loyal_core_skin_recipe.description %><br/>

  <b>描述</b>
  <%= image_tag @loyal_core_skin_recipe.avatar.url(:small) %>
</div>


<%= link_to "编辑", loyal_core_app.edit_admin_skin_recipe_url(:id => @loyal_core_skin_recipe.id) %>
<%= link_to "返回列表", loyal_core_app.admin_skin_recipes_url %>
