<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <fieldset>
    <legend><%= I18n.t('devise.views.change_your_password') %></legend>
    <%#= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class='fields'>
      <div class='field'><%= f.label :password, "New password" %><br />
        <%= f.password_field :password %></div>

      <div class='field'><%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation %></div>

      <%= util_output_return_to_hidden_field_tag %>

      <div class='field'><%= f.submit I18n.t('devise.views.change_my_password'), :data => {
        :disable_with => I18n.t('loyal_passport.form_builder.submit.disable_with')
      } %></div>
    </div>
  </fieldset>
<% end %>

<%= render "loyal_passport/users/shared/links" %>
