<p><%= I18n.t('loyal_passport.views.mailer.hello_user', @resource.nick_name) %>!</p>

<p><%= I18n.t('loyal_passport.views.mailer.some_one_has_requested_a_link_to_change_you_password') %></p>

<p><%= link_to I18n.t('loyal_passport.views.mailer.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= I18n.t('loyal_passport.views.mailer.if_you_not_request_it_ignore_it') %></p>
<p><%= I18n.t('loyal_passport.views.mailer.you_password_wont_change') %></p>
