<%= f.text_field :name %>
<%= f.text_field :short_name %>
<%= f.text_field :stored_tags %>

<p>
  <%= f.label :avatar %>
  <%= image_tag(f.object.avatar_url :small) if f.object.avatar? %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
</p>

<%= f.nested_belongs_to_select :folder_id,
  ::LoyalCore::Skin::Folder,
  ::LoyalCore::Skin::Folder
%>

<%= f.text_field :assets_path %>

<%= f.text_area :stylesheet_text, :style => 'height: 500px;' %>

<%= f.text_area :instroduction, :style => 'height: 100px;' %>
<%= f.text_area :description, :style => 'height: 100px;' %>

<%= f.submit %>

