<h1>皮肤分类列表</h1>

<table>
  <tr>
    <th>
      ID
    </th>
    <th>名称</th>
    <th col='3'>操作</th>
  </tr>
  <% ::LoyalCore::Skin::Folder.nested_set_options do |folder| %>
    <tr>
      <td><%= folder.id %></td>
      <td><%= link_to "#{'- ' * folder.level} #{folder.name}", loyal_core_app.admin_skin_folder_url(
        :id => folder.id
      ) %></td>
      <td>
        <%= link_to "编辑", loyal_core_app.edit_admin_skin_folder_url(:id => folder.id) %>
        <%= link_to "删除", loyal_core_app.admin_skin_folder_url(:id => folder.id), :method => :delete, :confirm => '确定要删除吗？' %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "新建", loyal_core_app.new_admin_skin_folder_url %>
