<h1>个人中心</h1>
<div class='informations show-fields'>
  <% if current_user.main_oauth_login_info %>
    <div class='field'>
      <label>来自: </label>
      <%= "#{current_user.main_oauth_login_info.provider_name}" %>
    </div>
  <% end %>

  <div class='field'>
    <label>昵称: </label>
    <%= current_user.nick_name %>
  </div>

  <% if current_user.email? %>
    <div class='field'>
      <label>邮箱: </label>
      <%= current_user.email %>
    </div>
  <% end %>

  <div class='field'>
    <label>登录次数: </label>
    <%= current_user.sign_in_count %>
  </div>
  <div class='field'>
    <label>注册时间: </label>
    <%= l current_user.created_at %>
  </div>
  <div class='field'>
    <label>上一次登录时间: </label>
    <%= l current_user.last_sign_in_at %>
  </div>
</div>

<div class='other-links'>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class='link-line'>
      <%= link_to I18n.t('devise.views.edit_user_registration'), edit_registration_path(resource_name) %><br />
    </div>
  <% end -%>
</div>
