<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <fieldset>
    <legend>使用已有的帐号 <%= I18n.t('devise.views.sign_in') %></legend>

    <div class='fields'>
       <div class='field'><%= f.label :email %><br />
       <%= f.email_field :email %></div>

       <div class='field'><%= f.label :password %><br />
       <%= f.password_field :password %></div>

       <% if devise_mapping.rememberable? -%>
         <div class='field'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
       <% end -%>

       <%= util_output_return_to_hidden_field_tag %>

       <div class='field'><%= f.submit I18n.t('devise.views.sign_in'), :data => {
         :disable_with => I18n.t('loyal_passport.form_builder.submit.disable_with')
       } %></div>
    </div>
  </fieldset>
<% end %>

