<h1>[角色] <%= @loyal_passport_role.name %></h1>

<div>
  <b>permalink: </b>
  <%= @loyal_passport_role.permalink %><br/>

  <b>描述:</b>
  <%= @loyal_passport_role.instroduction %><br/>

  <b>简介:</b>
  <%= @loyal_passport_role.description %>
</div>

<div>
  <%= link_to "返回列表", loyal_passport_app.admin_loyal_passport_roles_url %>
  <%= link_to "编辑", loyal_passport_app.edit_admin_loyal_passport_role_url(:id => @loyal_passport_role.id) %>
</div>

<h2>成员列表</h2>
 <% if @loyal_passport_assignments.to_a.any? %>
   <ul>
     <%= (
       render :partial => "loyal_passport/admin/loyal_passport/assignments/assignment",
       :collection => @loyal_passport_assignments,
       :as => :assignment
     )
     %>
   </ul>
 <% else %>
    列表为空
 <% end %>

<h2>编辑成员</h2>

<% current_user_ids = @loyal_passport_assignments.map(&:user_id) %>

<%= paginate @users %>

<%= form_for(
  @loyal_passport_role,
  :url => loyal_passport_app.admin_loyal_passport_role_url(:id => @loyal_passport_role.id),
  :builder => ::LoyalCore::ActionView::LabeledBuilder,
  :as => :loyal_passport_role
) do |f| %>
  <div>
    <% @users.each do |user| %>
      <%= check_box_tag "loyal_passport_role[user_ids][]", user.id, current_user_ids.include?(user.id) %>
      <%= link_to "#{user.nick_name}", loyal_passport_app.admin_user_url(user.id) %>
    <% end %>
  </div>

  <%= util_output_return_to_hidden_field_tag %>
  <%= f.submit %>
<% end %>

<%= paginate @users %>



